.notification-container {
  position: relative;
}

/* .notification-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
} */

.notification-icon i {
  font-size: 24px;
}

.unread-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 10px; /* Adjust the font size as needed */
  border-radius: 50%;
  padding: 4px;
  width: 10px;
  height: 10px;
  text-align: center;
}

.notifications-dropdown {
  position: absolute;
  top: 40px; /* Adjust this value according to your design */
  right: 20px; /* Adjust this value according to your design */
  width: 200px; /* Adjust this value according to your design */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.notification-item {
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-item.unread {
  background-color: #f0f0f0;
}

.notification-item.expanded {
  white-space: normal;
}

.mark-all-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
}

.mark-all-btn:hover {
  background-color: #45a049;
}
